html body{
  font-family: Comic Sans, Comic Sans MS, cursive;
}
table tbody tr td{
 font-family: Comic Sans, Comic Sans MS, cursive;
}
.navbar-brand {
  font-size: 25px;
  font-family: Comic Sans, Comic Sans MS, cursive;
}

.font-me{
 font-family: Comic Sans, Comic Sans MS, cursive;
}
.img{
  width: 450px;
  height: 400px;
}
